* {
  box-sizing: border-box;
}



body {
  margin: 0;
  padding: 0;
  background: rgb(40, 40, 40);
}

#DFA {
  display: none;
}

#streamInput {
  display: none;
}

.answer {
  display: none;
  background: none;
  border: 1px solid white;
  border-radius: 7px;
  color: rgba(255, 255, 255, 0.712);
  font-size: 24px;
  width: 100px;
  height: 50px;
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
  transition: all 1s;
  cursor: pointer;
  margin-left: 25px;
}

.answer:hover {
  background: rgba(56, 231, 231, 0.322);
}

.modal-body {
  height: 500px;
  overflow-y: auto;
}

.non-active {
  pointer-events: none;
}

#arrow {
  width: 150px;
  height: 30px;
  position: relative;
  left: 20px;
}

#arrow-label {
  width: 150px;
  height: 30px;
  position: relative;
  left: 20px;
}

#string-manager {
  width: 420px;
  height: 40px;
  position: relative;
  left: 20px;
  border-radius: 8px;
}

@keyframes pulseButtonColour {
  0% {
    background-color: transparent;
  }

  50% {
    background-color: rgba(56, 231, 231, 0.322);
  }

  100% {
    background-color: transparent;
  }

}

@keyframes pulseBorderColour {
  0% {
    border-color: white;
  }

  50% {
    border-color: transparent;
  }

  100% {
    border-color: white;
  }

}

@keyframes pulseErrorColour {
  0% {
    border-color: red;
  }

  50% {
    border-color: transparent;
  }

  100% {
    border-color: red;
  }

}

.button-next {
  background: transparent;
  position: relative;
  bottom: 4px;
  margin-left: 20px;
  width: 100px;
  height: 48px;
  font-size: 28px;
  border-radius: 8px;
  cursor: pointer;
  color: #c1c1c1;
  animation-name: pulseButtonColour;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.button-skip {
  background: transparent;
  position: relative;
  bottom: 4px;
  margin-left: 20px;
  width: 100px;
  height: 48px;
  font-size: 28px;
  border-radius: 8px;
  cursor: pointer;
  color: #c1c1c1;
}


.highlightBorder {
  border: 3px solid transparent;
  animation-name: pulseBorderColour;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.highlightError {
  border: 3px solid transparent;
  animation-name: pulseErrorColour;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}