#main-container-grid {
  position: relative;
  background: rgb(40, 40, 40);
  top: 30px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 90%;
  max-width: 2000px;
  height: 740px;
  display: none;
  grid-template-areas:
    'header header header header header header'
    ' info info info info info canvas'
    'feedback feedback feedback feedback feedback feedback';
  grid-column-gap: 0;
  grid-row-gap: 0;
}

#main-header-grid {
  grid-area: header;
  height: 50px;
  background: rgb(40, 40, 40);
  position: relative;
}

#header-title-container {
  position: absolute;
  left: 10px;
}

#header-title {
  color: #f3f3f3;
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
  font-size: 38px;
}

#help {
  position: absolute;
  right: 10px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  background: none;
  border: 1px solid white;
  border-radius: 7px;
  color: rgba(255, 255, 255, 0.712);
  font-size: 24px;
  width: 100px;
  height: 40px;
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
  transition: all 1s;
  cursor: pointer;
}

#help:hover {
  background: rgba(56, 231, 231, 0.322);
}

#main-info-grid {
  grid-area: info;
  height: 600px;
  border: 4px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  background: rgb(49, 49, 49);
  position: relative;
}

#info-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 90%;
  height: 492px;
  background: rgb(49, 49, 49);
  border-radius: 8px;
}

#info-container-transparent {
  display: none;
  position: absolute;
  top: 5px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 90%;
  height: 550px;
  border-radius: 8px;
  background: rgba(49, 49, 49, 0.5);
}

#info-container-strings {
  position: absolute;
  top: -20px;
  padding: 10px;
  background: rgb(33, 33, 33);
  border-radius: 8px;
  width: 100%;
  height: 450px;
  margin: auto;
}

#info-container-strings-transparent {
  display: none;
  position: absolute;
  top: -20px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: rgba(49, 49, 49, 0.5);
  border-radius: 8px;
  width: 100%;
  height: 475px;
}

#info-current-state {
  color: #f3f3f3;
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
  position: absolute;
  top: 8px;
  left: 10px;
}

#info-current-reject {
  color: #f3f3f3;
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
  position: absolute;
  top: -5px;
  left: 0;
  right: 0;
  margin: auto;
  width: 225px;
}

#info-current-accept {
  color: #f3f3f3;
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
  position: absolute;
  top: -5px;
  right: 14px;
}


#info-state {
  font-size: 25px;
  color: white;
  background: #ff9900;
  padding: 3px 9px 3px 9px;
  left: 10px;
  position: relative;
  display: inline-block;
}

#info-accept {
  background: #2d2d2d;
  width: 40px;
  height: 45px;
  display: inline-block;
  position: relative;
  left: 6px;
  top: 10px;
  border-radius: 23px;
  border: 2px solid #508751;
}

#info-reject {
  background: #2d2d2d;
  width: 35px;
  height: 45px;
  display: inline-block;
  position: relative;
  left: 6px;
  top: 12px;
  border-radius: 6px;
  border: 2px solid #989898;
}

#reject-state {
  font-size: 25px;
  color: white;
  background: rgb(49, 49, 49);
  padding: 3px 9px 3px 9px;
  border-radius: 8px;
  left: 10px;
  position: relative;
  display: inline-block;
}

#accept-state {
  font-size: 25px;
  color: white;
  background: rgb(49, 49, 49);
  border: 2px solid #a5e87e;
  padding: 12px 18px 12px 18px;
  border-radius: 30px;
  left: 10px;
  position: relative;
  display: inline-block;
}

#info-current-remain {
  color: #f3f3f3;
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
}

#accept-string-container {
  text-align: center;
  color: #f3f3f3;
  background: #4e8e4d;
  height: 205px;
  border-radius: 8px;
  margin: auto;
  width: 98%;
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
}

#accept-string-container-transparent {
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  padding: 10px;
  background: rgba(49, 49, 49, 0.5);
  border-radius: 8px;
  width: 98%;
  height: 205px;
  margin: auto;
}

.accept-fields {
  display: block;
  margin: auto;
  border-radius: 5px;
  border: 3px solid transparent;
  width: 300px;
  height: 35px;
  font-size: 26px;
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
}

#acc-01 {
  position: relative;
  top: 15px;
}


#acc-02 {
  position: relative;
  top: 30px;
}

#acc-03 {
  position: relative;
  top: 45px;
}


#reject-string-container {
  text-align: center;
  color: #f3f3f3;
  background: #226b69;
  height: 205px;
  border-radius: 8px;
  position: relative;
  top: 20px;
  margin: auto;
  width: 98%;
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
}

#reject-string-container-transparent {
  display: block;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  padding: 10px;
  background: rgba(49, 49, 49, 0.5);
  border-radius: 8px;
  width: 98%;
  height: 205px;
  margin: auto;
}

.reject-fields {
  display: block;
  margin: auto;
  border-radius: 5px;
  border: 3px solid transparent;
  width: 300px;
  height: 35px;
  font-size: 26px;
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
}

#rej-01 {
  position: relative;
  top: 15px;
}


#rej-02 {
  position: relative;
  top: 30px;
}

#rej-03 {
  position: relative;
  top: 45px;
}


#info-container-buttons {
  position: absolute;
  bottom: -30px;
  padding: 10px;
  background: rgb(33, 33, 33);
  border-radius: 8px;
  width: 100%;
}

#info-container-buttons-transparent {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: rgba(49, 49, 49, 0.5);
  border-radius: 8px;
  width: 100%;
}


#info-random-graph-container {
  text-align: center;
}

#info-random-graph {
  color: #f3f3f3;
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
  display: inline-block;
  position: relative;
  top: 6px;
}

[name='random-button'] {
  background: rgb(40, 40, 40);
  display: inline-block;
  position: relative;
  top: 5px;
  bottom: 0px;
  left: 6px;
  margin: auto;
  border: 1px solid white;
  border-radius: 7px;
  color: rgba(255, 255, 255, 0.712);
  font-size: 21px;
  width: 130px;
  height: 40px;
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
  transition: all 1s;
  cursor: pointer;
}

[name='random-button']:hover {
  background: rgba(56, 231, 231, 0.322);
}

#main-canvas-grid {
  grid-area: canvas;
  height: 600px;
  border: 4px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: rgb(49, 49, 49);
  position: relative;
}

#canvas-container-transparent {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 590px;
  border-radius: 8px;
  margin: 0;
  background: rgba(49, 49, 49, 0.5);
}

#main-info-container {
  position: relative;
  top: 18px;
  margin: auto;
  width: 95%;
  height: 60px;
  background: rgb(33, 33, 33);
  border-radius: 8px;
}

#array-container {
  list-style-type: none;
  width: 650px;
  height: 75px;
  margin: auto;
  position: relative;
  border-radius: 13px;
}

#array-inner-container {
  position: absolute;
  height: 60px;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}


@keyframes pulseColour {
  0% {
    background-color: #ffce82;
  }

  50% {
    background-color: #f3f3f3;
  }

  100% {
    background-color: #ffce82;
  }

}

.array-element {
  display: inline-block;
  position: relative;
  top: 5px;
  width: 100px;
  height: 50px;
  background: #ffce82;
  text-align: center;
  border-radius: 8px;
  animation-name: pulseColour;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.hide_element {
  display: inline-block;
  position: relative;
  top: 5px;
  width: 100px;
  height: 50px;
  background: #f3f3f3;
  text-align: center;
  border-radius: 8px;
}

.array_done {
  display: inline-block;
  position: relative;
  top: 5px;
  width: 100px;
  height: 50px;
  background: #a5e87e;
  text-align: center;
  border-radius: 8px;
}

.element {
  font-size: 45px;
  font-family: myFont;
  font-weight: bold;
  color: #4a4a4a;
  position: relative;
  bottom: 8px;
}

#main-feedback-grid {
  grid-area: feedback;
  height: 90px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-top: none;
  border-radius: 8px;
  background: rgb(40, 40, 40);
  position: relative;
}

#information {
  text-align: center;
  background: #212121;
}

#suggestion {
  display: inline-block;
  font-size: 45px;
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
  color: #f3f3f3;
  position: relative;
  top: 8px;
}


@media only screen and (max-width: 1350px) {
  #main-container-grid {
    position: relative;
    background: rgb(40, 40, 40);
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    max-width: 2000px;
    height: 740px;
    display: none;
    grid-template-areas:
      'header header header header header header'
      'canvas canvas canvas canvas canvas canvas'
      'info info info info info info'
      'feedback feedback feedback feedback feedback feedback';
    grid-column-gap: 0;
    grid-row-gap: 0;
  }

  #main-canvas-grid {
    grid-area: canvas;
    height: 450px;
    border: 4px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    background: rgb(49, 49, 49);
    position: relative;
  }

  #canvas-container-transparent {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 442px;
    border-radius: 8px;
    margin: 0;
    background: rgba(49, 49, 49, 0.5);
  }

  #canvas-container {
    position: relative;
    top: 10px;
    width: 670px;
    height: 358px;
    margin: auto;
    border-radius: 8px;
  }

  #network_canvas {
    background: rgb(33, 33, 33);
    width: 660px;
    height: 350px;
    border-radius: 8px;
    margin: auto;
  }

  #info-current-state {
    color: #f3f3f3;
    font-family: myFont, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    position: absolute;
    top: 8px;
    left: 10px;
  }

  #info-current-reject {
    color: #f3f3f3;
    font-family: myFont, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    margin: auto;
    width: 180px;
  }

  #info-current-accept {
    color: #f3f3f3;
    font-family: myFont, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    position: absolute;
    top: -5px;
    right: 14px;
  }

  #main-info-grid {
    grid-area: info;
    height: 315px;
    border: 4px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    border-top: none;
    background: rgb(49, 49, 49);
    position: relative;
  }

  #info-container {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    height: 305px;
    background: rgb(49, 49, 49);
    border-radius: 8px;
  }

  #info-container-transparent {
    display: none;
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    height: 308px;
    border-radius: 8px;
    background: rgba(49, 49, 49, 0.5);
  }

  #info-container-strings {
    position: absolute;
    top: 10px;
    padding: 10px;
    background: rgb(49, 49, 49);
    border-radius: 8px;
    width: 100%;
    height: 212px;
    margin: auto;
  }

  #info-container-strings-transparent {
    display: none;
    position: absolute;
    top: -20px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background: rgba(49, 49, 49, 0.5);
    border-radius: 8px;
    width: 100%;
    height: 230px;
  }

  #accept-string-container {
    text-align: center;
    color: #f3f3f3;
    background: #4e8e4d;
    height: 205px;
    border-radius: 8px;
    margin: auto;
    width: 50%;
    font-family: myFont, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    left: 0px;
    top: 0px;
  }

  #accept-string-container-transparent {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 0;
    background: rgba(49, 49, 49, 0.5);
  }

  #reject-string-container {
    position: absolute;
    right: 0;
    text-align: center;
    color: #f3f3f3;
    background: #4caca8;
    height: 205px;
    border-radius: 8px;
    margin: auto;
    width: 50%;
    font-family: myFont, 'Arial Narrow Bold', sans-serif;
    top: 0px;
  }

  #reject-string-container-transparent {
    display: none;
    position: absolute;
    left: 50%;
    width: 50%;
    top: 0px;
    margin: 0;
    background: rgba(49, 49, 49, 0.5);
  }

  #info-container-buttons {
    position: absolute;
    bottom: 0px;
    height: 70px;
    padding: 10px;
    background: rgb(33, 33, 33);
    border-radius: 8px;
    width: 100%;
  }

  #info-container-buttons-transparent {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background: rgba(49, 49, 49, 0.5);
    border-radius: 8px;
    width: 100%;
  }

  #main-feedback-grid {
    grid-area: feedback;
    height: 150px;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-top: none;
    border-radius: 8px;
    background: rgb(40, 40, 40);
    position: relative;
  }

  #information {
    text-align: center;
    background: #212121;
    height: 100%;
  }
}